.common__section {
	background: url('../../../assets/images/bg.png');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover !important;
	padding-top: 100px;
}

.common__section h2 {
	color: black;
}